.ori{
    background-color: blue;
}


.blueInp{
    background-color: blue !important;
}

.yellowInp{
    background-color: yellow;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    width: 125px;
}

.cardContainer > img{
    flex:1;
    width: 100%;
}

.buttonWrapper{
    display: flex;
    justify-content: space-around;
}



.showTitle{
    margin-left: 1rem;
}